<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
<div class="container">
  <h1>Login</h1>
  <form class="modal-content animate" method="post">
      <label for="uname"><b>Username</b></label><br>
      <input class="label" type="text" placeholder="Enter Username" name="usname" required>
      <br>
      <br>
      <label for="psw"><b>Password</b></label><br>
      <input class="label" type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <p>{{ message }}</p>
      <div class='captcha'> {{ recaptcha }}</div>
      <br>
      <button class="button"><span>submit </span></button>
    </div>
  </form>
</body>
</html>
