body{
    background-color: #044389;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #FFAD05;
    border-radius: 20px;
    margin: auto;
    width: 50%;
    color: black;
    padding: 10px;
    text-align: center;
    position: relative;
  }
.captcha{
    margin: auto;
    display: inline-block;
}
.button {
    border-radius: 4px;
    background-color: #39393A;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .label{
    width: 20%;
    height: 25px;
    border:none;
    border-radius: 10px;
}